@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
  .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}


/* SCROLL BAR FOR THE  */
.scrollbar-custom {
  padding-left: 8px; /* Adds space to the right of the content */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #394360; /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded edges */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* Track color */
}


/* OTHER BUTTONS */
.rbc-toolbar .rbc-btn-group:nth-of-type(3) button {
  display: none !important; /* Hide all buttons in the first group */
}


/* TODAY BUTTON IN CALENDAR */
.rbc-toolbar .rbc-btn-group:first-of-type button:first-child {
margin-right: 20px; 
margin-bottom: 10px;
background-color: #3D4C77 !important; 
color: white !important; 
cursor: pointer; 
border-radius: 5px !important;
border: none;
height: 34px;
}

.rbc-toolbar .rbc-btn-group:first-of-type button:first-child:hover {
background-color: #4e6a9b !important; 
color: #ffffff !important; 
}


/* BACK & NEXT BUTTON IN CALENDAR*/
.rbc-toolbar .rbc-btn-group:first-of-type button:nth-child(2),
.rbc-toolbar .rbc-btn-group:first-of-type button:nth-child(3) {
background-color: #75b2f8 !important; 
color: white !important; 
cursor: pointer; 
border-radius: 5px !important;
margin-right: 5px;
margin-bottom: 10px;
border: none;
}

.rbc-toolbar .rbc-btn-group:first-of-type button:nth-child(2):hover,
.rbc-toolbar .rbc-btn-group:first-of-type button:nth-child(3):hover {
background-color: #98c8f8 !important; 
color: #ffffff !important; 
}


/* CURRENT DATE BOX */
.rbc-day-bg.rbc-today {
background-color: #f0f7ff !important; /* Your desired background color */
}

.rbc-date-cell.rbc-now.rbc-current {
background-color: #f0f7ff !important; /* Your desired background color */
}


/* OTHER MONTHS BOXES */
.rbc-day-bg.rbc-off-range-bg {
background-color: #eeeeee !important; /* Your desired background color */
/* You can also add other styles if needed */
}

/* LABEL OF THE CALENDAR*/
.rbc-toolbar-label{
font-weight: bold;
font-size: 30px;
margin-right: 130px;
margin-bottom: 15px;
}