version: '3.8'

services:
  app:
    build: .
    volumes:
      - .:/app
    environment:
      - CLIENT=http://host.docker.internal:8001
    command: gunicorn backend.asgi:application -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000 --workers 2 --reload --log-level debug
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    