version: '3.8'

services:
  app:
    build: .
    volumes:
      - .:/app
    command: gunicorn backend.asgi:application -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000 --reload --log-level debug
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    